.avis-clients-container {
    width: 800px;
    height: 450px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
	display: flex;
    margin: 0 auto;
    overflow-y: scroll;
}
.titre-widget{
    text-align: center;
}
.avis-clients {
    width: 100%;
    margin: 0;
    padding: 0;
}
.avis-client {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
   
}

.nom-utilisateur {
    font-weight: bold;
    margin: 0;
}

.note {
    font-size: 24px;
    margin: 10px 0;
	color: #FFC300;;
}

.commentaire {
    margin: 0;
}


.delete_avis {
    color: red;
    text-decoration: underline;
    margin-right: 2px;
    background-color: white;
    visibility: hidden; /* pour masquer le bouton par défaut *//* pour centrer le bouton verticalement */
}

.avis-client:hover .delete_avis {
    visibility: visible; /* pour afficher le bouton lorsque le curseur passe sur le commentaire */
}
